<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--SSM  Spring  SpringMvC  MyBatis-->


    <!--Sping：核心就是IOC和AOP，常用的就是IOC，主要是作为容器，注入需要的对象-->
    <!--SpingMVC 主要就是用来替代传统的Servlet，主要是获取请求，做分发，返回数据-->
    <!--MyBatis主要就是对传统的JDBC做封装，简化数据库层库的代码-->

    <!--druid 数据库连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbc_url}"/>
        <property name="username" value="${jdbc_user}"/>
        <property name="password" value="${jdbc_password}"/>

        <property name="filters" value="stat"/>

        <property name="maxActive" value="20"/>
        <property name="initialSize" value="1"/>
        <property name="maxWait" value="6000"/>
        <property name="minIdle" value="1"/>

        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>

        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>

        <property name="poolPreparedStatements" value="true"/>
        <property name="maxOpenPreparedStatements" value="20"/>

        <property name="asyncInit" value="true"/>
    </bean>


    <!--SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">

        <!--数据源 通过上面那个的数据库连接池获取 链接对象-->
        <property name="dataSource" ref="dataSource"/>

        <property name="mapperLocations" value="classpath:com/xeon/data/*.xml"/>
        <property name=" configLocation" value="mybatis.xml"/>

    </bean>

</beans>