<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--这里的namespace 对应 UserDaoMapper 类-->
<mapper namespace="com.xeon.dao.UserDaoMapper">

    <select id="getUsers" resultType="com.xeon.pojo.User">
        select *
        from user;

    </select>


    <select id="getUserById" resultType="com.xeon.pojo.User" parameterType="int">
        select *
        from user
        where id = #{id}
    </select>


    <insert id="addUser" parameterType="com.xeon.pojo.User">
        insert into user(gid, name, default_company_code, org_id)
        values (#{gid}, #{name}, #{default_company_code}, #{org_id})
    </insert>

    <update id="updateUser" parameterType="com.xeon.pojo.User">

        update user
        set gid=#{gid},
            name=#{name},
            default_company_code=#{default_company_code},
            org_id=#{org_id}
        where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="com.xeon.pojo.User">
        delete
        from user
        where id =
              #{id}

    </delete>
</mapper>